@import "./normalize.scss";

$light-blue: #acd1e9;
$dark-blue: #368ec9;
$blaze: #f60;
$blaze-lighter: #ffa162;
$blaze-lightest: #ffdac2;

// $color__header-bg: $light-blue;
$color__header-bg: #2fc2fa;
$color__navigation-bg: #2fc2fa;
$color__footer-bg: #2fc2fa;

$color__title: #fff;
$color__section-title: #333;
$color__section-title--hover: #777;
$color__links: $blaze;
$color__links--hover: $blaze-lighter;
$color__text: #222;
$color__banner: #1b7ba1;

.debug * {
  border: 1px solid red;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    *::selection {
      background: $blaze-lightest;
    }
}
a {
    text-decoration: none;
    color: $color__links;
}
a:hover, a:active, a:focus {
    text-decoration: none;
    color: $color__links--hover;
}
.header-row {
    background-color: $color__header-bg;
}
h1 {
}
hr {
  margin: 0;
}
header {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    img {
      max-width: 100px;
      display: block;
      margin: auto;
    }
    .title {
      display: inline-block;
      position: relative;
      margin: 20px auto 0;
      text-align: center;
      font-family: 'Montserrat', serif;
      font-size: 3em;
      font-weight: 600;
      text-decoration: none;
      color: $color__title;
      cursor: default;
      span.hover-fill {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        transition: all .5s;
        -webkit-transition: all .5s;
        color: $blaze-lightest;
        &:after {
          content: "curt dallace miller";
          display: block;
          position: relative;
          width: 100%;
          top: 0;
          left: 0;
        }
      }
      &:hover span.hover-fill {
        width: 100%;
      }
    }
    .subtitle {
        margin: auto;
        text-align: center;
        color: #000;
        margin-bottom: 40px;
        font-family: 'Montserrat', serif;
        font-size: 1.75em;
        font-weight: 600;
    }
    .social-nav {
        width: 100%;
        margin-bottom: 20px;
        ul {
            list-style: none;
            width: 100%;
            margin: auto;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
            }
            li a i.fa-circle { // fa-circle
                color: white;
            }
            li a i:nth-child(2) { // fa-icon
                color: black;
                transition: color .5s;
                -webkit-transition: color .5s;
            }
            li a i:nth-child(2):hover {
                color: $color__header-bg;
            }
        }
    }
}
nav {
    background: $color__navigation-bg;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    ul {
        padding: 0;
        margin: 0;
        font-size: 0;
    }
    li {
        display: inline-block;
        transition: all 200ms;
        vertical-align: middle;
        a {
          display: inline-block;
          color: white;
          margin: 10px;
          letter-spacing: 2px;
          border-bottom: 3px solid $color__header-bg;
          transition: all 200ms;
          padding-bottom: 2px;
          font-size: 1.6rem;
          font-family: 'Montserrat', serif;
          font-weight: 600;
        }
        a:hover {
          color: white;
          border-color: #fff;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        bottom: 3px;
        width: 2px;
        height: 24px;
        margin: 10px;
        background-color: white;
      }
      p {
        margin: 0;
        color: white;
    }
}
section {
    margin: 60px 0;
    h3 {
        margin: 1em 0;
        border-bottom: solid $color__section-title 3px;
        font-family: 'Montserrat', serif;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.5;
        a {
          color: $color__section-title;
          &:hover {
            color: $color__section-title--hover;
          }
        }
    }
    img {
        opacity: 1;
        transition: opacity .5s;
        -webkit-transition: opacity .5s;
        margin: 0 auto;
        &.img-border {
            border: 1px solid #eee;
            border-radius: 3px;
        }
    }
}
.banner {
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: solid $color__header-bg 5px;

    h2 {
        margin-top: 10px;
        padding-bottom: 5px;
        a {
            font-family: 'Montserrat', serif;
            color: $color__banner;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
.banner-first {
    border: none;
    margin-top: 10px;
}
footer {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: .8em;
    background-color: $color__footer-bg;
    padding: 10px 0 10px 0;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  section{
    display: flex;
    flex-direction: row;
    align-items: center;
    h3 {
      margin-top: 0;
    }
  }
}
