[submodule "fcc-wikiView"]
	path = fcc-wikiView
	url = https://github.com/curtdmiller/fcc-wikiView.git
[submodule "fcc-tictactoe"]
	path = fcc-tictactoe
	url = https://github.com/curtdmiller/fcc-tictactoe.git
